spring:
  application:
        name: Final-Project
  datasource:
    url: jdbc:postgresql://localhost:5432/online_example
    username: postgres
    password: jahan1366
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  elasticsearch:
    hosts:
      - http://localhost:9200
